<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.css">
	<link rel="stylesheet" type="text/css" href="/popup.css">
</head>

<body>

	 <div class="ui container"> 
		<form class="ui form">
	        <div class="field">
	        	<label>Date of Birth</label>
	        	<input class="dob" type="date" name="bday">
	        </div>	
	        
	        <input class="ui red basic button" type="submit">
	    </form>
    </div>
 
<script src="/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="/js.js"></script> 
</body>
</html>